
.inputbox div{width:400px;margin: 10px auto;}
.inputbox input{margin-left: 20px;height: 40px;font-size: 14px;width: 200px;border-radius: 10px;
  outline: 0;margin-top: 10px;border: 1px solid #eee;
  padding-left: 10px;
}
.delbtn{margin-left: 20px;cursor: pointer;}
.widthbox{text-align: center}
.addbtn{text-align: center;margin: 0  auto;display: inline-block;width: 100px;cursor: pointer}
